* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: url(../images/koi-video.mp4) repeat center center fixed;
  background-size: cover;
}

.header {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  position: absolute;
  z-index: 10;
}

.logo {
  float: center;
  padding: 5px 0;
}


.nav {
  width: 80%;
}

.container{
  position: relative;
  margin: auto;
  padding: 0 20px;
  text-align: center;
}

.header-position {
  position: relative;
  margin: auto;
  padding: 0 20px;
}

.list {
  position: relative;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  display: inline-block;
}


/*

   HOME

 */

.video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-overlay{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.video-overlay:before{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #000000;
  opacity: .75;
}

.home-logo {
  z-index: 2;
  position: absolute;
}

/*

   ABOUT

 */



 /* The hero image */
 .hero-image-about {
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/about/about-banner2.jpg");

   /* Set a specific height */
   height: 60%;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }

 /* Place text in the middle of the image */
 .hero-text-about {
   text-align: center;
   position: absolute;
   padding-top: 150px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
 }


.img-with-text {
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 25px;
  /*  width: [width of img]; */
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}


/*

   DISCOGRAPHY

 */

 /* The hero image */
 .hero-image-discography {
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/discography/discography-banner2.jpg");

   /* Set a specific height */
   height: 60%;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }

 /* Place text in the middle of the image */
 .hero-text-discography {
   text-align: center;
   position: absolute;
   padding-top: 150px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
 }


.album{
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 50px;
}

.album-picture {
  position: relative;
  margin: auto;
  padding-left: 350px;
  text-align: center;
}

.album-cover{
  max-width: 275px;
  max-height: 275px;
  border-radius: 8px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
  transition: all .3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  }

.album-cover:hover{
  max-width: 300px;
  max-height: 300px;
  box-shadow: 0 75px 175px rgba(0, 0, 0, 0.4);
}

ul.album-details{
  position: relative;
  z-index: 10;
  padding: 0;
  list-style: none;
  width: 50%;
  margin-left: 320px;
}

.album-title{
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}

ul.track-listings{
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

ul.track-listings > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

span.track-number {
  margin-right: 10px;
}

ul-track-listings > li > .track-time {
  text-align: right;
}

/*

   MEDIA

 */

 /* The hero image */
 .hero-image-media {
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/media/media-banner2.jpg");

   /* Set a specific height */
   height: 60%;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }

 /* Place text in the middle of the image */
 .hero-text-media {
   text-align: center;
   position: absolute;
   padding-top: 150px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
 }

.media-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.media-card-wrapper {
  width: 250px;
  height: 250px;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

.media-card{
  width: 225px;
  height: 225px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 25px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 0;
/*  transition: all .3s ease-in-out;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4); */
}

.media-card > img {
  width: 100%;
  height: 100%;
}

.media-card:hover {
  width: 250px;
  height: 250px;
  z-index: 10;
  box-shadow: 0 50px 125px rgba(0, 0, 0, 0.4);
}

.media-list > iframe {
  margin-bottom: 50px;
}


/*

   MERCH

 */

 /* The hero image */
 .hero-image-merch {
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/merch/merch-banner2.jpg");

   /* Set a specific height */
   height: 60%;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }

 /* Place text in the middle of the image */
 .hero-text-merch {
   text-align: center;
   position: absolute;
   padding-top: 150px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
 }


/*  .merch-banner {
  background: url('../images/merch/banner.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}   */

ul.merch-controls {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  border: 1px solid #efefef;
}

@media (min-width: 736px){
  ul.merch-controls {
    flex-wrap: nowrap;
  }
}

ul.merch-controls > li {
  width: 100%;
  height: auto;
  flex-grow: 0;
  overflow: hidden;
}

.merch-ctrl-btn {
	height: 4rem;
  flex-grow: 0;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  border: none;
	overflow: hidden;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.merch-ctrl-btn.active {
  background: #efefef;
}

.merch-ctrl-btn:hover {
  cursor: pointer;
  background: #efefef;
}

.merch-ctrl-btn span {
	display: inline-block;
	width: 100%;
	height: 100%;
  position: relative;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.merch-ctrl-btn img {
  width: 75%;
  height: 75%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 100%;
  transition: all 0.3s ease-in-out;
}

.merch-ctrl-btn:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.merch-ctrl-btn:hover img {
  bottom: 15%;
}

.filtr-item {
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index:0;
  transition: all .3s ease-in-out;
}

.filtr-item > img {
  width: 250px;
  height: 250px;
  margin: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.filtr-item:hover {
  cursor: pointer;
  top: .5rem;
  background: #efefef;
  z-index:10;
}

.filtr-item:hover > img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all .3s ease-in-out;
}

.filtr-item.--sold-out:before {
  content: "Sold Out";
  width: 20rem;
  height: 2rem;
  position: absolute;
  top: 1.5625rem;
  right: -105px;
  padding-top: .25rem;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -25px);
  z-index: 1;
  background: rgba(117,0,2, 0.85);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  transform: rotate(35deg)
}

.filtr-item.--sold-out:hover{
  cursor: not-allowed;
}

button:focus {
  outline: 0;
}


/*

   TOUR DATES

 */

 /* The hero image */
 .hero-image-tourdates {
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tourdates/tourdates-banner2.jpg");

   /* Set a specific height */
   height: 60%;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }

 /* Place text in the middle of the image */
 .hero-text-tourdates {
   text-align: center;
   position: absolute;
   padding-top: 150px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
 }


.tour-dates-banner{
  background: url('../images/tour-dates/banner.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
